#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 320, 180
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "NTPWEdit Clone v0.7"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Path to SAM file:",IDC_STATIC_PATH,7,7,60,8
    EDITTEXT        IDC_EDIT_PATH,7,18,240,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BTN_BROWSE,250,18,20,14
    PUSHBUTTON      "(re)Open",IDC_BTN_OPEN,275,18,38,14
    
    CONTROL         "",IDC_LIST_USERS,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,7,40,306,100
    
    PUSHBUTTON      "Change password",IDC_BTN_CHANGE,7,145,70,14
    PUSHBUTTON      "Unlock",IDC_BTN_UNLOCK,85,145,50,14
    
    PUSHBUTTON      "Save changes",IDC_BTN_SAVE,200,160,55,14
    PUSHBUTTON      "Exit",IDC_BTN_EXIT,260,160,53,14
END
